<!doctype html>

<html>

<head>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="utf-8">

	<title>{{block "title" .}}CHEF{{end}}</title>

	<link href="/style.css" rel="stylesheet">
	<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%22100%22>🧑‍🍳</text></svg>">
</head>

<body>

	<header>
		{{block "header" .}}
		<h1>
			<a class="subtle" href="/">CHEF</a>
		</h1>
		{{end}}
	</header>

	<main>
		{{block "content" .}}
		<article class="text">
			<p>
				Template error, missing content block.
			</p>
		</article>
		{{end}}
	</main>

	<footer>
		<small>
			Sauerbraten spy by p1x – <a href="/status">Status</a> – <a href="/info">More Information</a> – <a href="https://github.com/sauerbraten/chef">Code</a>
		</small>
	</footer>

</body>

</html>
