{{define "header"}}
	<h1>
		CHEF
	</h1>
{{end}}

{{define "content"}}
	<section id="search-forms">
		<div>
			<h2>Sightings</h2>
			{{template "sightings_search_form"}}
		</div>
		<div>
			<h2>Games</h2>
			{{template "games_search_form"}}
		</div>
	</section>

	<aside class="text">
		<h2>What is this?</h2>

		<p>
			CHEF is a Sauerbraten stalker. It lets you search for players and shows you what names they use, on what servers they play, and when they were last seen.
		</p>

		<h2>Usage Information</h2>

		<p>
			The web interface accepts a name, an IP, or an IP range and performs either a <strong>direct lookup</strong> or a <strong>2-step lookup</strong>. By default, the search performs a direct lookup if you give an IP or an IP range, and a 2-step lookup if you give a name. Both types of lookup returns distinct name-IP combinations with the timestamp and server information of their last sighting attached.
		</p>

		<h3>Direct Lookup</h3>

		<p>
			A direct lookup is a simple lookup with only one step. If you give a name, it returns all IPs that have used this name; if you give an IP or IP range, it returns all names that have been used by this IP (range).
		</p>

		<h3>2-Step Lookup</h3>

		<p>
			A 2-step lookup only works on names: It first performs a direct lookup of the name to get all IPs that used the name, and then looks up all sightings by all those IPs. This means that a 2-step lookups will also give you sightings where the player used a different name.
		</p>

	</aside>

{{end}}
