{{define "title"}}Status – CHEF{{end}}

{{define "content"}}
	<div class="text">
		<h2>Status Information</h2>

		<h3>Database</h3>

		<table>
			<tr>
				<td class="align-right">{{formatInt .NamesCount}}</td>
				<td>names</td>
			</tr>
			<tr>
				<td class="align-right">{{formatInt .IPsCount}}</td>
				<td>non-zero IPs</td>
			</tr>
			<tr>
				<td class="align-right">{{formatInt .CombinationsCount}}</td>
				<td>combinations of name and non-zero IP</td>
			</tr>
			<tr>
				<td class="align-right">{{formatInt .SightingsCount}}</td>
				<td>sightings</td>
			</tr>
			<tr>
				<td class="align-right">{{formatInt .GamesCount}}</td>
				<td>games</td>
			</tr>
			<tr>
				<td class="align-right">{{formatInt .ServersCount}}</td>
				<td>servers</td>
			</tr>
		</table>

		<p>
			All numbers are distinct (unique) counts.
		</p>

		<h3>Git Revision</h3>

		<p>
			This instance is running revision <a href="https://github.com/sauerbraten/chef/commit/{{.Revision}}" target="_blank">{{.Revision}}</a>.
		</p>
	</div>
{{end}}
