{{define "search_form"}}
	<form class="searchform text-center" action="/lookup" method="get">
		<input type="search" name="q" class="searchbox" placeholder="name or IP (range)" value="{{.Query}}" autofocus />
		<label>
			<input type="checkbox" name="direct" value="true" {{if .PerformedDirectLookup}} checked{{end}} /><span>force direct lookup</span>
		</label>
		<label>
			<input type="checkbox" name="search_old" value="true" {{if and . (not .Last90DaysOnly)}} checked{{end}} /><span>include sightings older than 90 days</span>
		</label>
		<label for="sorting"><span>sort by</span>
			<select name="sorting">
			{{if .Sorting.Identifier}}
				<option value="name_frequency" {{if (eq .Sorting.Identifier "name_frequency")}}selected{{end}}>name frequency</option>
				<option value="last_seen" {{if (eq .Sorting.Identifier "last_seen")}} selected{{end}}>last seen</option>
			{{else}}
				<option value="name_frequency">name frequency</option>
				<option value="last_seen">last seen</option>
			{{end}}
			</select>
		</label>
		<input type="submit" value="Search" />
	</form>
{{end}}