{{define "title"}}Status – CHEF{{end}}

{{define "content"}}
	<div class="text">
		<h2>Status Information</h2>

		<h3>Database</h3>

		<table>
			<tr>
				<td class="align-right">{{formatInt .NamesCount}}</td>
				<td>names</td>
			</tr>
			<tr>
				<td class="align-right">{{formatInt .IPsCount}}</td>
				<td>IPs</td>
			</tr>
			<tr>
				<td class="align-right">{{formatInt .CombinationsCount}}</td>
				<td>combinations of name and IP</td>
			</tr>
			<tr>
				<td class="align-right">{{formatInt .SightingsCount}}</td>
				<td>sightings</td>
			</tr>
			<tr>
				<td class="align-right">{{formatInt .ServersCount}}</td>
				<td>servers</td>
			</tr>
		</table>

		<p>
			All numbers are distinct (unique) counts.
		</p>

		{{if .TimeOfLastKidbanUpdate}}
			<h3>Kidban</h3>

			<p>
				The kidban ranges were last updated on {{.TimeOfLastKidbanUpdate}}.
			</p>
		{{end}}

		<h3>Git Revision</h3>

		<p>
			This instance is running revision <a href="https://github.com/sauerbraten/chef/commit/{{.Revision}}" target="_blank">{{.Revision}}</a>.
		</p>
	</div>
{{end}}